form {
    width: 1550px;
     background-color: white;
}
label {
    font-size: 20px;
}
input {
    height: 40px;
    border-radius: 50px;
}
.valid-feedback{
    font-size: 17px;
}
span {
    font-size: 17px;
}